@model Pizzeria.Models.Articolo

@{
    ViewBag.Title = "Aggiungi Pizza";
}

<h2 class="text-center mt-5">Aggiungi Pizza</h2>

@using (Html.BeginForm("Add", "Menu", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Foto, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Foto, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Prezzo, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Prezzo, new { htmlAttributes = new { @class = "form-control", type="number" } })
        @Html.ValidationMessageFor(model => model.Prezzo, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TempoConsegna, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.TempoConsegna, new { htmlAttributes = new { @class = "form-control", type="number" } })
        @Html.ValidationMessageFor(model => model.TempoConsegna, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ingredienti, htmlAttributes: new { @class = "control-label" })
        @Html.TextAreaFor(model => model.Ingredienti, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Ingredienti, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mt-3">
        <input type="submit" value="Aggiungi" class="btn btn-primary" />
    </div>
}
